name: Python application (conda)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up micromamba env
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment.yml
          cache-environment: true
          environment-name: fastapi

      - name: Lint with flake8
        shell: bash -l {0}
        run: |
          micromamba activate fastapi
          python --version
          pip --version
          # If flake8 isn't in the env yet, install it here OR add it to environment.yml
          pip install flake8
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest
        shell: bash -l {0}
        run: |
          micromamba activate fastapi
          pytest -q
